<!--View Information-->
<!--View name : Expense Setting-->
<!--Controller name : expenseDashboardSettingCtrl-->
<!--Controller path : www/templates/themes/expense-dashboard/js/controllers.js-->
<!--State name : app.expenseSetting-->
<!--URL : #app/expenseSetting-->

<ion-view title="Kullanıcı Ayarları">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <ion-content scroll="false">
        <!--list section-->
        <md-list>
            <md-list-item class="md-list-item-default" ng-click="">
                <i class="fa fa-lock"></i>

                <p>Şifre Değiştir</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-list-item-default" ng-click="logout()">
                <i class="fa fa-sign-out"></i>

                <p>Çıkış</p>
            </md-list-item>
        </md-list><!--end list section-->
    </ion-content>
</ion-view>