<!--View Information-->
<!--View name : Location Feed-->
<!--State name : app.locationFeed-->
<!--URL : #app/locationFeed-->

<ion-view title="Soru Mania">
    <!--location feed section-->
    <ion-content id="location-feed-content" scroll="true">
        <ion-refresher
                pulling-text="Yenilemek için aşağı çekin..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <!--list section-->
        <div class="location-list">

            <!--location item section-->
            <div class="location-item" ng-repeat="question in questions">
                <div class="location-img"
                     ng-click="goToQuestion(question.id)"
                     style="background-image:url('{{question.mediaUrl}}')">

                </div>
                <div class="location-content row">
                    <div class="col-90">
                        <h1>
                            {{question.user.fullName}}
                        </h1>

                        <p>
                            <i class="fa fa-flag"></i> Bangkok Thailand
                        </p>
                    </div>
                    <div class="col-10">
                        <span class="text-add">+Wishlist</span>
                    </div>
                </div>
            </div><!--end location item section-->

        </div><!--end list section-->

        <ion-infinite-scroll
                ng-if="hasMoreData"
                icon="ion-loading-c"
                on-infinite="infiniteLoad()">
        </ion-infinite-scroll>

    </ion-content><!--end location feed section-->
    <ion-footer-bar>
        <div class="tabs">
            <a class="tab-item">YGS</a>
            <a class="tab-item">KPSS</a>
            <a ui-sref="app.ask-question" class="tab-item active"><i class="icon ion-android-camera"></i></a>
            <a class="tab-item">ALES</a>
            <a class="tab-item">OKS</a>
        </div>
    </ion-footer-bar>
</ion-view>
