<!--View Information-->
<!--View name : Product Detail-->
<!--Controller name : productDetailCtrl-->
<!--Controller path : www/templates/share-application-content/social-share/js/controllers.js-->
<!--State name : app.productDetail-->
<!--URL : #app/productDetail-->

<ion-view view-title="Cevapla">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons> <!--end left button on navigation bar-->

    <!--product detail section-->
    <ion-content id="comment-detail-content">
        <md-content>
            <!--product tabs section-->
            <md-tabs md-border-bottom md-selected="0" id="comment-detail-tabs" class="no-border">
                <!--product tab detail section-->
                <md-tab label="Cevap">
                    <md-content id="comment-detail-tab-detail">

                        <div class="row ask-question-detail-text">
                            <md-input-container md-no-float="" class="md-list-item-full-width" md-no-float>
                                <textarea ng-model="comment.text" placeholder=" Cevapla ilgili açıklama..."></textarea>
                            </md-input-container>
                        </div>

                        <div class="row" ng-show="!imgURI">
                            <br/>
                            <div class="col-25">
                            </div>
                            <div class="col-50 ask-question-no-image">
                                <a ng-click="showListBottomSheet($event)"
                                   aria-label="showListBottomSheet">
                                    <i class="fa fa-camera fa-5x"></i>
                                </a>
                                <br/>
                                Resim Yükle
                            </div>
                        </div>

                        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">


                        <div class="row" id="ask-question-send-button">
                            <div class="col-25">
                            </div>
                            <div class="col-50">
                                <a class="md-raised md-warn md-button md-default-theme"
                                   ng-click="saveAnswer()">
                                    Cevabı Gönder
                                </a>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <!--product tab product section-->
                <md-tab label="Soru">
                    <md-content class="md-padding">
                        <div id="product-detail-tab-product">
                            <div>
                                <h1>Başlık</h1>

                                <p>Detay</p>
                            </div>

                            <div class="pin">
                                <img ng-src="{{question.mediaUrl}}"/>

                                <p>
                                    {{question.detail}}
                                </p>

                                <div class="pin-footer">
                                    <span class="">Sınav: {{question.categoryName}}</span>
                                    <br/>
                                    <span class="">Ders: {{question.lessonName}}</span>
                                </div>
                            </div>
                        </div>

                    </md-content>
                </md-tab> <!--product tab product section-->
            </md-tabs><!--end product tabs section-->
        </md-content>
    </ion-content>
    <!--end product detail section-->


    <!--angular template section-->
    <script type="text/ng-template" id="image-picker-actions-template">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Resim Yükleme Şeklini Seçiniz</h1>
            <!--list section-->
            <md-list>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="takePicture()">
                        <i class="ion-camera"></i>
                        <span>Resim Çek</span>
                    </a>
                </md-list-item>

                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="selectImage()">
                        <i class="ion-image"></i>
                        <span>Galeriden Seç</span>
                    </a>
                </md-list-item>
            </md-list><!--end list section-->
        </md-bottom-sheet>
    </script><!--end angular template section-->


</ion-view>