<!--This is a main HTML file of project default page when application start.-->
<!--All reference of css and javascript lib is here.-->

<!DOCTYPE html>
<html lang="tr">

<!--head section This is a place of all reference of css and javascript lib-->
<head>
    <!-- Meta section -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no"> <!-- To disable phone number typing.-->

    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <!-- end Meta section -->
    <title></title>

    <!-- Font reference section -->
    <link href="lib/robotodraft/robotodraft.css">
    <!-- end Font reference section -->

    <!-- CSS reference section -->
    <link rel="stylesheet prefetch" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="lib/font-awesome-4.4.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/ionic.app.css">
    <link rel="stylesheet" href="lib/ionic-rating/ionic-rating.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- end CSS reference section -->

    <!-- Ionic javascript lib -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- end Ionic javascript lib -->

    <!-- Angular javascript lib -->
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="lib/ionic-rating/ionic-rating.min.js"></script>
    <!-- end Angular javascript lib -->

    <!-- Cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <!-- end Cordova script -->

    <!--ionic framework ngIOS9UIWebViewPatch-->
    <!--Learn more about ngIOS9UIWebViewPatch at : http://blog.ionic.io/ios-9-potential-breaking-change/-->
    <script src="lib/ngIOS9UIWebViewPatch/angular-ios9-uiwebview.patch.js"></script>
    <!--end ionic framework ngIOS9UIWebViewPatch-->

    <!-- app.js section-->
    <script src="js/app.js"></script>
    <!-- end app.js section-->

    <!-- Controllers section-->
    <script src="js/controllers.js"></script>
    <script src="js/shared/directives.js"></script>
    <script src="js/shared/filter.js"></script>
    <script src="js/shared/constants.js"></script>
    <script src="js/components/auth/provider/auth.oauth2.service.js"></script>
    <script src="js/components/auth/services/account.service.js"></script>
    <script src="js/components/auth/services/activate.service.js"></script>
    <script src="js/components/auth/services/password.service.js"></script>
    <script src="js/components/auth/services/register.service.js"></script>
    <script src="js/components/auth/auth.service.js"></script>
    <script src="js/components/auth/authority.directive.js"></script>
    <script src="js/components/auth/principal.service.js"></script>
    <script src="js/components/entities/comment/comment.service.js"></script>
    <script src="js/components/entities/lov/lov.service.js"></script>
    <script src="js/components/entities/question/question.service.js"></script>
    <script src="js/components/entities/questionRating/questionRating.service.js"></script>
    <script src="js/components/entities/reportedContent/reportedContent.service.js"></script>
    <script src="js/components/entities/scoreHistory/scoreHistory.service.js"></script>
    <script src="js/components/entities/userContentPreference/userContentPreference.service.js"></script>
    <script src="js/components/entities/userRelation/userRelation.service.js"></script>
    <script src="js/components/interceptor/auth.interceptor.js"></script>
    <script src="js/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="js/components/user/user.service.js"></script>
    <script src="js/components/util/base64.service.js"></script>
    <script src="js/components/util/dateutil.service.js"></script>
    <script src="js/components/util/image-upload.service.js"></script>
    <script src="js/shared/controllers.js"></script>
    <script src="templates/menu/js/controllers.js"></script>
    <script src="templates/home/home.controller.js"></script>
    <script src="templates/question/question.controller.js"></script>
    <script src="templates/question/comment.controller.js"></script>
    <script src="templates/question/ask-question.controller.js"></script>
    <script src="templates/user/login/login.controller.js"></script>
    <script src="templates/material-user-interface/dashboard/js/controllers.js"></script>
    <script src="templates/social-network-connect/facebook/js/controllers.js"></script>
    <script src="templates/share-application-content/social-share/js/controllers.js"></script>
    <script src="templates/share-application-content/email-message/js/controllers.js"></script>
    <script src="templates/advertising-application/googleAdmob/js/controllers.js"></script>
    <script src="templates/material-user-interface/dashboard/js/controllers.js"></script>
    <script src="templates/material-user-interface/default-user-interface/js/controllers.js"></script>
    <script src="templates/themes/menu-dashboard/js/controllers.js"></script>
    <script src="templates/themes/expense-dashboard/js/controllers.js"></script>
    <script src="templates/themes/catalog/js/controllers.js"></script>
    <script src="templates/push-notification/single-push-notification/js/controllers.js"></script>
    <script src="templates/push-notification/schedule-push-notification/js/controllers.js"></script>

    <script src="templates/user/profile/js/profile.controllers.js"></script>
    <script src="templates/user/profile/js/profile-update.controllers.js"></script>
    <script src="templates/user/register/register.controller.js"></script>
    <script src="templates/user/leaderboard/leaderboard.controllers.js"></script>
    <!-- end Controllers section-->

    <!-- jQuery section-->
    <script src="lib/jQuery/jquery.js"></script>
    <!-- end jQuery section-->

</head><!-- end head section-->

<!--body section-->
<body ng-app="starter" class="hide-native-scroll-y">

<!--Custom Style section-->
<style type="text/css">
    {{customStyle}}
</style><!-- end Custom Style section-->

<!-- Ionic navigation bar section-->
<ion-nav-view></ion-nav-view>
<!-- end Ionic navigation bar section-->

</body><!-- end body section-->


<!-- Angular custom template section-->

<!--Share template confirm-dialog section-->
<script type="text/ng-template" id="confirm-dialog.html">
    <md-dialog aria-label="confirm-dialog">
        <form>
            <md-dialog-content>
                <div>
                    <h2 class="md-title">{{displayOption.title}}</h2>

                    <p>{{displayOption.content}}</p>
                </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <a class="md-primary-color dialog-action-btn" ng-click="cancel()">
                    {{displayOption.cancel}}
                </a>
                <a class="md-primary-color dialog-action-btn" ng-click="ok()">
                    {{displayOption.ok}}
                </a>
            </div>
        </form>
    </md-dialog>
</script> <!-- end share template confirm-dialog section-->

<!-- Share template toast section-->
<script type="text/ng-template" id="toast.html">
    <md-toast class="toast-form">
        <span flex>{{displayOption.title}}</span>
    </md-toast>
</script><!-- end share template toast section-->

<!-- end Angular custom template section-->

</html>